<h2>Search Authors</h2>
<form action="/authors" method="GET">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= searchOptions.name%>">
    <button type="submit">Search</button>
</form>

<div class="container">
    <ul>
        <% authors.map(author=>{ %>
            <li>
                <%= author.name %>
                    <a href="/authors/<%=author.id%>">View</a>
                    <a href="/authors/edit/<%=author.id%>">Edit</a>
                    <%- include('../partials/_delete_file',{action_link:`/authors/${author.id}?_method=DELETE`})%>
            </li>
            <% }) %>
    </ul>
</div>